    :root{
        

    }



body{
    background-color: gray
    color: black;
}

img{
    width: 30%;
}

 header{
    display: flex;
    align-items: center;
    justify-content: space-around;
 }