
body{
    background-color: rgb(139, 137, 137)
    color: black;
}

img{
    width: 30%;
}

 header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img-intro{
    width: 20%:
}

.intro{
    display:flex;  
}