
body{
    background-color: hsl(0, 0%, 89%);
    color: black;
}

img{
    width: 30%;
}

 header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img-intro{
    width: 20%;
}

.intro{
    display:flex;  
}